/* Banner Slider Section */

.banner .custom-container {
  margin: 0 auto;
}

.slides {
  display: flex;
  justify-content: space-between;
  background-color: #EBFAEB;
  padding: 10px 150px;
  border-radius: 30px;
  gap: 50px;
}

.slides .banner-content {
  padding-top: 50px;
}

.slides .banner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.banner-content .title {
  font-size: 65px;
  line-height: 70px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 30px;
}

.banner-content .tagline {
  font-size: 32px;
  color: var(--green_color);
  font-weight: 600;
}

.banner-content .shop-btn {
  color: var(--white_color);
  background: var(--green_color);
  border-radius: 25px;
  cursor: pointer;
  border: 0px;
  font-size: 16px;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  transition: .6s;
}

.banner-content .shop-btn:hover {
  background-color: var(--white_color);
  color: var(--black_color);
}