/* Categories Section  */

section.categories {
  margin: 50px 0px;
}

.categories .custom-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  max-width: 1710px;
}

.categories .category-item {
  padding: 35px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories .category-item.odd {
  background-color: #F2F2F2;
}

.categories .category-item.even {
  background-color: #EBFAEB;
}

.category-item-title a {
  font-size: 20px;
  text-decoration: none;
  color: var(--black_color);
  font-weight: 600;
}

.category-item-title a:hover {
  color: var(--green_color);
}