:root {
  --green_color: #27AE60;
  --black_color: #000000;
  --white_color: #ffffff;
  --lato_heavy: 'LatoHeavy';
  --easing-ease-in-out: cubic-bezier(.42, 0, .58, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.demo-color {
  background-color: var(--white_color);
  background-color: var(--black_color);
  background-color: var(--green_color);
  color: var(--white_color);
  color: var(--black_color);
  color: var(--green_color);
}

body {
  margin: 0;
  font-family: var(--lato_heavy);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  word-break: break-word;
  word-wrap: break-word
}

/* Header top area  */

.header-top-area {
  background-color: var(--white_color);
}

.header-top-area .custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 15px 10px;
}

.logo-area {}

.logo-link img,
.logo-link svg {
  width: 240px;
  height: 45px;
}

.right-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}

.right-area .right-item {
  display: inline;
  margin-left: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.search-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid #dfcfcf;
  border-radius: 25px;
  padding-left: 50px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.search-area input[type="text"] {
  border: none;
  background: transparent;
}

.search-area input:focus-visible {
  outline: none;
}

.search-area .btn {
  border: none;
  background: transparent;
  background-color: var(--black_color);
  color: var(--white_color);
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
}

.icon-sm.search {
  position: relative;
}

.icon-sm.search svg {
  position: absolute;
  top: 10px;
  right: -3px;
}

.icon-sm.bag {
  position: relative;
}

span.count {
  background-color: var(--green_color);
  color: var(--white_color);
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  top: -16px;
  right: -20px;
  width: 24px;
  height: 25px;
  text-align: center;
}

.right-area .user.right-item {
  position: relative;
}

span.user-text {
  margin-left: 5px;
  vertical-align: super;
}

/* Header Navigation area */

.header-area .custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 15px;
}

.categories-area .category-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--green_color);
  width: 230px;
  height: 48px;
  border-radius: 25px;
  padding: 0 20px;
  color: var(--white_color);
  cursor: pointer;
}

.offer-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
}

.offer-btn .text-btn {
  color: var(--green_color);
}

.navigation .navigation-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation-menu li {
  list-style: none;
}

.navigation-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black_color);
}

.navigation-menu li a:hover {
  color: var(--green_color);
}

/* Banner Slider Section */

.banner .custom-container {
  margin: 0 auto;
}

.slides {
  display: flex;
  justify-content: space-between;
  background-color: #EBFAEB;
  padding: 10px 150px;
  border-radius: 30px;
  gap: 50px;
}

.slides .banner-content {
  padding-top: 50px;
}

.slides .banner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.banner-content .title {
  font-size: 65px;
  line-height: 70px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 30px;
}

.banner-content .tagline {
  font-size: 32px;
  color: var(--green_color);
  font-weight: 600;
}

.banner-content .shop-btn {
  background-color: var(--green_color);
  width: 230px;
  height: 48px;
  border-radius: 25px;
  padding: 0 20px;
  color: var(--white_color);
  cursor: pointer;
}

/* Responsive area */

@media (min-width: 1740px) {
  .custom-container {
    max-width: 1710px;
  }
}