.page-width {
  margin: 0 auto;
  max-width: 1170px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  height: 300px;
}

.container>div {
  background-color: #f1f1f1;
  border: 1px solid #000000;
}

.header {
  grid-column: 1/ -1;
}

.menu {
  grid-column: 1/4;
}

.content {
  grid-column: 4/-1;
}

.footer {
  grid-column: 1/ -1;
}