/* Banner Section */
.banner {
    display: block;
    position: relative;
    height: 720px;
}

.banner .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.bg-image img {
    background-size: cover;
    object-fit: cover;
}

.banner-container .left-side {
    display: block;
    position: relative;
    width: 50%;
    padding-top: 200px;
}

.banner-container .right-side {
    display: block;
    position: relative;
    width: 50%;
    padding-top: 50px;
}

.banner-container .heading {
    font-size: 64px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    line-height: 74px;
    margin-bottom: 30px;
}

.banner-container .text-content {
    font-size: 30px;
    font-weight: 500;
    color: #fcfeff;
    line-height: 37px;
    padding-right: 40px;
}

.heading .gold {
    color: #fdbe00;
}

.heading .blue {
    color: #fdbe00;
}

.heading .blue {
    color: #007dff;
}

.banner-pagination {
    margin-top: 30px;
    display: block;
    position: relative;
    text-align: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fcfeff !important;
}


@media screen and (max-width: 768px) {
    .banner-container {
        flex-direction: column;
    }

    .banner-container .left-side {
        width: 100%;
        padding-top: 50px;
    }

    .banner-container .right-side {
        width: 100%;
        padding-top: 0px;

    }

    .banner-container .heading {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
        text-align: center;
        display: block;
    }

    .banner-container .text-content {
        font-size: 18px;
        line-height: 20px;
        padding-right: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 414px) {}