header.primary-header {
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    margin: 0 auto;
    align-items: center;
}

.nav-header {
    max-width: 140px;
    height: 70px;
}

.nav-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list {
    height: auto;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #020e28;
    text-transform: uppercase;
}

.nav-list li a:hover {
    color: #fee188;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-toggle {
    font-size: 20px;
    color: #000000;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    height: 0;
    overflow: hidden;
    transform: rotate(0deg);
}

.nav-toggle:hover {
    color: #fee188;
    transform: rotate(0deg);
}

.nav-header .nav-toggle {
    display: none;
}

 .right-btn {
    height: auto;
    background: linear-gradient(285deg, rgba(34, 168, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    padding: 15px 10px;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    color: #020e28;
    display: flex;
    align-content: center;
    align-items: center;
}
 .right-btn .right-btn-txt {
    padding-left: 10px;
}

.btn-icon svg {
    width: 15px;
}

/* Sidebar */

.sidebar.show-sidebar {
    transform: translate(0);
    width: 400px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 9;
}

.sidebar .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    max-width: 100%;
    margin-top: 20px;
}

.close-btn {
    font-size: 24px;
    background: transparent;
    border-color: transparent;
    color: #020e28;
    transition: var(--transition);
    cursor: pointer;
}

.sidebar .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    justify-items: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
    .header-container {
        padding: 20px 15px;
    }

    .nav-header .nav-toggle {
        display: block;
    }

    .nav-toggle {
        height: auto;

    }

    .nav-list {
        height: 0px;
        overflow: hidden;
    }

    .right-btn {
        /* height: 0;
        overflow: hidden; */
        display: none;
    }

    .show {
        height: auto;
    }

    .show-links {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        padding: 20px 0px;
    }
}